MQTT_BROKER_URL=mqtt://54.197.132.147
MQTT_USERNAME= ''
MQTT_PASSWORD= ''

NEXT_PUBLIC_MESSAGE_TEXT_SIZE=body1
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mqtt-broker?schema=public"

FRONTEND_URL = "http://localhost:3000"
BACKEND_REST_URL="http://localhost:3002"
BACKEND_SOCKET_URL="localhost:4000"